/* creating a preloader. */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* image inside the preloader */

#preloader img {
    width: 100%;
    height: auto;

}

/* the text that displays over the image */
#test {
    position: absolute;
    color: #b3b3b3;
    top: 10;
    justify-content: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100px;
    font-weight: bolder;
}

/* ensures the body spans the full visible area of the page(viewport) */
body {
    margin: 0; /* removes te default margins */
    height: 100vh; /* Full height of the viewport */
    background-color: #9CDCFE;
}

/* Buttons*/
    .home-button {
        position: absolute; /* Enables manual placement */
        top: 10px; /* Distance from the top of the page */
        left: 10px; /* Distance from the right edge of the page */
    
        color: black;
        font-size: 18px;
        background-color: #dbdea3; /* Button background */
        border: 1px solid #c6c992; /* Border styling */
        border-radius: 5px;
        padding: 4px 6px; /* Spacing inside the button */
        font-family: "Times New Roman", Times, serif; /* Font family */
        text-align: center; /* Center the text inside the button */
        text-decoration: none; /* Removes underline for <a> */
        cursor: pointer; /* Pointer cursor on hover */
    }

    .home-button:hover {
        background-color: #c6c992; /* Change background color on hover */
    }

    .start-over-button {
        position: absolute;
        top: 10px;
        right: 10px;

        color: black;
        font-size: 18px;
        background-color: #dbdea3; /* Button background */
        border: 1px solid #c6c992; /* Border styling */
        border-radius: 5px;
        padding: 4px 6px;
        font-family: "Times New Roman", Times, serif; /* Font family */
        text-align: center; /* Center the text inside the button */
        text-decoration: none; /* Removes underline for <a> */
        cursor: pointer; /* Pointer cursor on hover */
    }

    .start-over-button:hover {
        background-color: #c6c992; /* Change background color on hover */
    }
    
/* Heading text */
    h1 {
        text-align: center; /* Centers the text horizontally */
    }

    h2{
        text-align: center;
    }

/* Pet selection scroll */
.scroll-container {
    background-color: #99C4EA;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

.scroll-container img {
    padding: 10px;
    width: 600px;
    height: 400px;
  }

/* Pet selection button */
.btn {
    
  top: 50%;
  left: 50%;
  transform: translate(-500%, 15%);
    color: black;
    font-size: 24px;
    border: 1px solid #dce0a0; /* Border styling */
    border-radius: 5px;
    padding: 10px; /* Spacing inside the button */
    font-family: "Times New Roman", Times, serif; /* Font family */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Removes underline for <a> */
    cursor: pointer; /* Pointer cursor on hover */
}

.btn:hover {
    background-color: #a4a851; /* Change background color on hover */
}


/* Headings */
h1 {
    font-size: 48px; /* feel free to change this! */
    font-family: "Times New Roman", Times, serif; /* Font family (feel free to change!) */
    margin-bottom: 20px; /* adds some space below the heading */
}

/* Style for the "Let's Play!" BUTTON */
.lets-play-button {
    color: black;
    font-size: 24px;
    background-color: #dbdea3; /* Button background */
    border: 3px solid black; /* Border styling */
    padding: 10px; /* Spacing inside the button */
    font-family: "Times New Roman", Times, serif; /* Font family */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Removes underline for <a> */
    cursor: pointer; /* Pointer cursor on hover */
}

.lets-play-button:hover {
    background-color: #a4a851; /* Change background color on hover */
}

/* Style for the "Start Over" BUTTON */
.start-over-button {
    position: absolute; /* Enables manual placement */
    top: 10px; /* Distance from the top of the page */
    right: 10px; /* Distance from the left edge of the page */
    
    color: black;
    font-size: 18px;
    background-color: #dbdea3; /* Button background */
    border: 2px solid black; /* Border styling */
    padding: 4px 6px; /* Spacing inside the button */
    font-family: "Times New Roman", Times, serif; /* Font family */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Removes underline for <a> */
    cursor: pointer; /* Pointer cursor on hover */
}

.start-over-button:hover {
    background-color: #a4a851; /* Change background color on hover */
}
